
* {
    padding: 0;
    margin: 0;
}


body {
    background-image: url(img/kfc-background.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-position: absolute;
    background-color: #A60000;
}

.general-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.game-info {
    text-align: center;
    font-family: Verdana;
}

h1 {
    color:#ffffff;
    font-size: 90px;
}

p {
    font-size: 30px;
}

.container {
    display: flex;
    align-items: center;
    width: 920px;
    height: 280px;
    margin: 20px auto;
    
    position: relative;

    background: linear-gradient(#b7d6c7, transparent) #ffe2d1;
    overflow: hidden;
}

.midday {
    background-color: #ffdcf3;
}

.afternoon {
    background-color: #ffadad;
}

.night {
    background-color: #aca8c7;
}

.chicken {
    width: 84px;
    height: 145px;

    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;

    background: url(img/chicken.gif);
    background-size: 336px 200px;
    background-position-x: 0px;

}

.chicken-running {
    background-position-x: -130px ;
}

.fried-chicken {
    background: url(img/fried-chicken.png) no-repeat;
    background-size: 50px 50px;
    background-position-x: 0px;
    width: 60px;
    height: 50px;
}

.floor {
    width: 200%;
    height: 58px;

    position: absolute;
    bottom: 0;
    left: 0;

    background: url(img/grass.png);
    background-size: 50% 60px;

}

.obstacle-colonel{
    width: 70px;
    height: 125px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(img/colonel.gif) no-repeat;
    transform: scaleX(-1);
    background-size: 70px 100px;
}
.obstacle-kfc{
    width: 140px;
    height: 105px;

    background: url(img/kfc.png) repeat-x;
    background-position: 0 top, 80px top;
    background-size: 70px 90px;
    z-index: 1;
}
.cloud{
    width: 92px;
    height: 26px;

    position: absolute;
    z-index: 0;

    background: url(img/nube.png) no-repeat;
    background-size: 92px 26px;
}

.score{
    width: 250px;
    height: 30px;

    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;

    color: #da5252;
    font-family: Verdana;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.game-over{
    display: none;
    width: 100%;
    margin-bottom: 30px;

    text-align: center;
    color: #da5252;
    font-size: 30px;
    font-family: Verdana;
    font-weight: 700;
    z-index: 2;
}

/* @media only screen and (min-width: 600px) {
    .general-container {
        height: 90vh;
    }
  } */