* {
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background: #584040;
    display: flex;
    align-items: center;
}

.contenedor {
    width: 920px;
    height: 280px;
    margin: 0 auto;
    
    position: relative;

    background: linear-gradient(#b7d6c7, transparent) #ffe2d1;/*linear-gradient(#90ebff, white);*/
    transition: background-color 1s linear;
    overflow: hidden;
}

.mediodia {
    background-color: #ffdcf3;
}

.tarde {
    background-color: #ffadad;
}

.noche {
    background-color: #aca8c7;
}

.chicken {
    width: 84px;
    height: 145px;

    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;

    background: url(img/chicken.gif);
    background-size: 336px 200px;
    background-position-x: 0px;

}

.chicken-running {
    background-position-x: -130px ;
}

.chicken-estrellado {

    background: url(img/fried-chicken.png) no-repeat;
    background-size: 50px 50px;
    background-position-x: 0px;
    width: 60px;
    height: 50px;
}

.floor {
    width: 200%;
    height: 58px;

    position: absolute;
    bottom: 0;
    left: 0;

    background: url(img/grass.png);
    background-size: 50% 60px;

}

.cactus{
    width: 70px;
    height: 125px;

    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;

    background: url(img/colonel.gif) no-repeat;
    transform: scaleX(-1);
    background-size: 70px 100px;
}
.cactus2{
    width: 140px;
    height: 105px;

    background: url(img/kfc.png) repeat-x;
    background-position: 0 top, 80px top;
    background-size: 70px 90px;
}
.nube{
    width: 92px;
    height: 26px;

    position: absolute;
    z-index: 0;

    background: url(img/nube.png) no-repeat;
    background-size: 92px 26px;
}

.score{
    width: 100px;
    height: 30px;

    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;

    color: #d48871;
    font-family: Verdana;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.game-over{
    display: none;

    position: absolute;
    width: 100%;


    text-align: center;
    color: #7e928b;
    font-size: 30px;
    font-family: Verdana;
    font-weight: 700;
}